# cache
__pychche__/
# 虚拟化
venv
# JetBrains IDE
.idea
# 配置文件
apis
odp.exe
office
main.spec
main.build
main.dist
main.onefile-build
main.exe
__pycache__
oft.zip
.gitignore
uninstall.zip
uninstall
oft.*
release
#
build
dist
build.bat
# YAOCTRU
YAOCTRU/temp_curl.txt
YAOCTRU/install.bat

